<div class="form">
    <h1>Inspiration.DAM</h1> 
        <div class="container">
            <mat-form-field>
                <input matInput [(ngModel)]="registrarUsuario.nombre"  placeholder="Ingrese su Nombre">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="registrarUsuario.apellido"  placeholder="Ingrese su Apellido">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="registrarUsuario.email" placeholder="Ingrese su Correo Electronico">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="registrarUsuario.clave"  placeholder="Ingrese su Clave">
            </mat-form-field>
                <button mat-raised-button (click)="registrar()" class="button col" >Registrarse</button>
        </div>
</div>
