.cuadro{
    font-family: Brush Script MT;
    background: rgb(85, 144, 212);
    width: 30%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    
}