<div class="form">
    <h1>Inspiration.DAM</h1> 
        <div class="container">
            <mat-form-field>
                <input matInput [(ngModel)] ="loguear.email" placeholder="Ingrese su email">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)] ="loguear.clave" placeholder="Ingrese su Clave">
            </mat-form-field>
                <button mat-raised-button (click)="login()" class="button col">Registrarse</button>
        </div>
</div>