
<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h1>Subir Archivos</h1>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Titulo Del Archivo" required #titulo>
                </div>
                <div class="form-group">
                    <textarea rows="2" class="form-control" placeholder="Descripcion Archivo" required #Descripcion></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Enviar
                    </button>
                </div> 
            </form>
        </div>
    </div>
</div>
<!--<div class="col-lg-4 mx-auto">
    <div class="card">
    <div class="card-header">
        Subir Archivos
    </div>
    <div class="card-body">
        <form (submit)="enviarFoto(titulo, Descripcion)">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Titutlo Del Archivo" required #titulo>
            </div>
            <div class="form-group">
                <textarea rows="2" class="form-control" placeholder="Descripcion Archivo" required #Descripcion></textarea>
            </div>
            <input type="file" class="d-none" (change)= "onfotoSelecionada($event)"#fotoInput>
            <img [src]= "photoSelected ||'assets/NoImagen.png'" class="img-fluid" alt="NoImagen"    (click) ="fotoInput.click()">

            <button class="btn btn-primary btn-block">
                Enviar
            </button>
        </form>
    </div>
    </div>
</div>
-->